In [1]:
from pyspark.sql import SparkSession

In [2]:
spark = SparkSession.builder.appName("Basics").getOrCreate()

In [4]:
df = spark.read.json('./PySpark/people.json')

In [5]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [6]:
df.printSchema()

root
 |-- age: long (nullable = true)
 |-- name: string (nullable = true)

In [8]:
df.columns

['age', 'name']

In [15]:
df.describe().show()

+-------+------------------+-------+
|summary|               age|   name|
+-------+------------------+-------+
|  count|                 2|      3|
|   mean|              24.5|   null|
| stddev|7.7781745930520225|   null|
|    min|                19|   Andy|
|    max|                30|Michael|
+-------+------------------+-------+

In [16]:
from pyspark.sql.types import (StructField,IntegerType,
                               StringType,StructType)

In [17]:
data_Schema = [StructField('age',IntegerType(),True),
              StructField('name',StringType(),True)]

In [23]:
final_struc = StructType(fields= data_Schema)

In [24]:
df = spark.read.json('./PySpark/people.json',schema=final_struc)

In [25]:
df.printSchema()

root
 |-- age: integer (nullable = true)
 |-- name: string (nullable = true)

In [29]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [41]:
df['age']

Column<b'age'>

In [43]:
type(df['age'])

pyspark.sql.column.Column

In [44]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [48]:
df.select('age')

DataFrame[age: int]

In [49]:
type(df.select('age'))

pyspark.sql.dataframe.DataFrame

In [46]:
df.select('age').show()

+----+
| age|
+----+
|null|
|  30|
|  19|
+----+

In [52]:
df.head(2)

[Row(age=None, name='Michael'), Row(age=30, name='Andy')]

In [55]:
type(df.head(2))

list

In [53]:
df.head(2)[0]

Row(age=None, name='Michael')

In [54]:
type(df.head(2)[0])

pyspark.sql.types.Row

In [56]:
df.select(['age','name'])

DataFrame[age: int, name: string]

In [57]:
df.select(['age','name']).show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [58]:
df.withColumn('Newage',df['age']).show()

+----+-------+------+
| age|   name|Newage|
+----+-------+------+
|null|Michael|  null|
|  30|   Andy|    30|
|  19| Justin|    19|
+----+-------+------+

In [60]:
df.withColumn('doubleAge',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleAge|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [61]:
nDf = df.withColumn('doubleAge',df['age']*2).show()

+----+-------+---------+
| age|   name|doubleAge|
+----+-------+---------+
|null|Michael|     null|
|  30|   Andy|       60|
|  19| Justin|       38|
+----+-------+---------+

In [62]:
df.show()

+----+-------+
| age|   name|
+----+-------+
|null|Michael|
|  30|   Andy|
|  19| Justin|
+----+-------+

In [63]:
nDf.show()

AttributeError: 'NoneType' object has no attribute 'show'